@import url("https://cdn.jsdelivr.net/npm/bootstrap-icons@1.3.0/font/bootstrap-icons.css");

.text h1{
    margin: 20px;
    margin-left: 60px;
    color: #000;
}
.text p{
    margin-left: 60px;
    color:rgba(30, 107, 107, 0.932);
}
.as img{
    height: 250px;
    

}
.aaa{
    background-color: transparent;
    
}

.ab a{
    text-decoration:none;
    font-family: Franklin Gothic Medium;
}
.ac{
    margin: 10px;
    font-family: Franklin Gothic Medium;
    
}
.ms{
    margin: 10px;
    font-family: Franklin Gothic Medium;
}
.bt{
    margin-top: 10px;
    border-radius: 40px;
}